@font-face {
    font-family: "Noto Sans Hebrew";
    src: url("fonts/NotoSansHebrew-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Arabic";
    src: url("fonts/NotoSansArabic-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Devanagari";
    src: url("fonts/NotoSansDevanagari-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Bengali";
    src: url("fonts/NotoSansBengali-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Myanmar";
    src: url("fonts/NotoSansMyanmar-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Georgian";
    src: url("fonts/NotoSansGeorgian-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans CJK HK";
    src: url("fonts/NotoSansCJKhk-Regular.otf");
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans Math";
    src: url("fonts/NotoSansMath-Regular.ttf");
    font-display: swap;
}
:root {
    --sans: "Noto Sans", "Noto Sans Hebrew", "Noto Sans Arabic", "Noto Sans Devanagari", "Noto Sans Bengali", "Noto Sans Myanmar", "Noto Sans Georgian", "Noto Sans CJK HK", "Noto Sans Math", ui-sans-serif, sans-serif;
}